.course-card{
    margin: 1em;
    background-color: #8ba6c0;
}

.course-card h5{
    color: white;
}
.course-card p{
    color: rgb(226, 220, 220);
}
.info-course-container{
    padding: 1em;
}
.course-card img:hover{
    opacity: .7;
  -webkit-transform: scale(1.05,1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05,1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.course-card img{
    width: 100%;
}