
.reviews .card{
    border-color: transparent;
}

.reviews .card .card-footer{
    background: transparent;
    border: 0;
}
.reviews-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

@media only screen and (max-width: 992px) {
    .reviews-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    
}
@media only screen and (max-width: 768px) {
    .reviews-card-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    
}